<div class="stream-contents">
  <div class="stream-content">
    <a href="/playlist" id="button-playlist" class="button">プレイリスト視聴</a>
    <div class="stream-content-box">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
    </div>
    <div class="stream-content-box">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-playlist" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
    </div>
  </div>

  <div class="stream-content">
    <a href="/multivideo" id="button-multi" class="button">マルチ視聴</a>
    <div class="stream-content-box">
      <input type="text" class="url-input-multi" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-multi" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-multi" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
      <input type="text" class="url-input-multi" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
    </div>
  </div>

  <div class="stream-content">
    <a href="/sectionvideo" id="button-section" class="button">セクション視聴</a>
    <div class="stream-content-box"></div>
      <input type="text" class="url-input-section" placeholder="https://www.youtube.com/watch?v=01234567890" value="">
    </div>
  </div>
</div>

<script>
  var videoURLs = {{ videoURLs|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/index-script.js') }}"></script>