html, body {
  margin: 0;
  padding: 0;
  height: 100vh
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header{
  background-color: lightyellow;
  width: 100%;
}

.main{
  background-color: lightblue;
  width: 100%;
  flex-grow: 1;
}

.footer{
  background-color: lightyellow;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none; /* リンクの下線を消す */
  color: blue; /* リンクの色を指定 */
}

.icon{
  padding: 4px 0 4px 10px;
  font-size: 20px;
  font-style: italic;
}

.player-block{
  display: flex;
  align-items: center;
  justify-content: center;
}

.player{
  display: flex;
  align-items: center;
  justify-content: center;
}

.stream-contents{
  /* padding-top: 20px; */
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 5px;
  /* border: 1px solid #000000; */
}

.stream-content{
  margin-bottom: 15px;
  display: flex;
  align-items:center;
  border: 1px solid #000000;
}

.stream-content-box{
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  padding: 15px 32px; /* ボタンの内側のパディング */
  text-align: center; /* テキストを中央揃え */
  text-decoration: none; /* 下線を削除 */
  display: inline-block; /* インラインブロック */
  font-size: 16px; /* フォントサイズ */
  margin: 10px; /* ボタン周囲のマージン */
  cursor: pointer; /* マウスカーソルをポインターに */
  border-radius: 4px; /* 角を丸くする */
  border: 1px solid #4CAF50; /* ボーダー色を背景色と同じに */
  transition: background-color 0.3s, color 0.3s; /* ホバー時のスムーズな変化 */
}

.button:hover {
  background-color: #45a049; /* ホバー時の背景色 */
  color: white; /* ホバー時の文字色 */
}

.button:active {
  background-color: #388e3c; /* クリック時の背景色 */
  border-color: #388e3c; /* クリック時のボーダー色 */
}

.url-input-playlist,.url-input-multi{
  width: 350px;
  padding: 5px;
  margin: 5px;
}

