<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Video Player</title>
    <script>
      var videos = {{ videos|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="player" class="player"></div>
</body>
</html>